<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AssignDatePictureViewerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">

		<targets async="true">
			<target name="file" xsi:type="File" fileName="${basedir}\images_props.txt" archiveFileName="${basedir}\images_props.{#####}.csv" maxArchiveFiles="100" archiveAboveSize="10485760" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" encoding="Windows-1255">

				<layout xsi:type="CSVLayout" Delimiter="Comma">
					<column name="time" layout="${longdate}"/>
					<column name="level" layout="${level}"/>
					<column name="thread" layout="${threadid}"/>
					<column name="logger" layout="${logger:shortName=true}"/>
					<column name="method" layout="${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}"/>
					<column name="message" layout="${message}"/>
					<column name="exception" layout="${exception:format=Type,Method,ToString}"/>
				</layout>
			</target>

			<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${threadid} ${logger} ${callsite:className=false:includeSourcePath=false} ${message} ${exception:format=Type,Method,ToString}" encoding="Windows-1255"/>
		</targets>

		<rules>
			<logger name="*" minlevel="Debug" writeTo="file"/>
			<logger name="*" minlevel="Debug" writeTo="console"/>
		</rules>
	</nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AssignDatePictureViewerApp.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>aa</value>
            </setting>
            <setting name="LastFolder" serializeAs="String">
                <value>aa</value>
            </setting>
            <setting name="LastImage" serializeAs="String">
                <value>bb</value>
            </setting>
        </AssignDatePictureViewerApp.Properties.Settings>
    </userSettings>
</configuration>